<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzrilyzr.floatingwindow" >
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:icon="@drawable/icon"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:label="悬浮窗">
        <activity
			android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <service android:name=".PluginService"
			android:exported="true">
			<intent-filter >
				<action android:name="com.yzrilyzr.Service" />
			</intent-filter>
		</service>
		<service android:name=".AccessibilityService"
			android:enabled="true"
			android:exported="true"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />	
			</intent-filter>
			<meta-data
				android:name="android.accessibilityservice"
				android:resource="@xml/accessibility">
			</meta-data>
        </service>
		<activity android:name=".PluginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name=".BroadcastReceiver"/>
		<meta-data
            android:name="fwplugin"
            android:value="true"/>
		<meta-data
            android:name="fwpluginclasses"
            android:value="菜单:.apps.Menu;浏览器:.apps.WebViewer;下载器:.apps.Downloader"/>
    </application>
</manifest>
